@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* colors */
:root {
  --brown-main: #9c6b43;
  --beige-yellow: #f4e1c1;
  --green-sage: #a7c4a0;
  --green-moss: #7e9479;
  --brown-mud: #4e2e10;
  --brown-mud: #231407;
  --light-cream: #fff8e3;
  --text-area: #fffefb;
  --caramel: #d8a47f;
  --beige-background: #f9ebca;
  --beige-container: #fffae1;
  --capivara: #cc8c5c;
  --very-light: #f8f7f0;
  --error-red: #d36b5e;
  --disabled-gray: #c2bfb8;

  --breakpoint-desktop: '1024px';
  --breakpoint-tablet: '768px';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style: none;
}

body {
  background-color: var(--beige-background);

  min-height: 100vh;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (max-width: var( --breakpoint-tablet)) {
    background-color: var(--beige-container);
  }
}
